body,div,p,ul,li,dl,dt,dd,ol,pre,form,h1,h2,h3,h4,h5,h6,input textarea{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing: border-box;
}
a{
	text-decoration:none;
}
img{
border:0;
}
@font-face {
	font-family: 'icon';
	src: url('../icon/iconfont.eot');
	src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),
	url('../icon/iconfont.woff') format('woff'),
	url('../icon/iconfont.ttf') format('truetype'),
	url('../icon/iconfont.svg#iconfont') format('svg');
}
.icon{
	font-family:"icon";
	font-size:38px;
	font-style:normal;
}
.portfolio > .container .row div > a{
	display: block;
	background-size: cover;
	transition: all 0.5s;
}
.portfolio > .container .row div:nth-child(1) > a{
	background-image:url(../img/cal.png);
}
.portfolio > .container .row div:nth-child(2) > a{
	 background-image:url(../img/ktv.png);

 }
.portfolio > .container .row div:nth-child(3) > a{
	background-image:url(../img/mynews.png);

}
.portfolio > .container .row div:nth-child(4) > a{
	background-image:url(../img/sell.png);

}
.portfolio > .container .row div:nth-child(5) > a{
	background-image:url(../img/php.png);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;

}
.portfolio > .container .row div:nth-child(6) > a{
	background-image:url(../img/music.png);

}
