*{
    padding:0;
    margin:0;
    list-style: none;
}
body{
    background: url("../img/img/bigbg.jpg") no-repeat;
    background-size: cover;
}
.box{
    width:900px;
    height:600px;
    margin:10px auto;
    position: relative;
}
.box .pai{
    position: absolute;
    left:450px;
    top:0;
    width:86px;
    height:122px;
    margin-left: -43px;
    opacity: 0;
    transition: margin-top .35s;
    border-radius: 5px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.active{
    box-shadow:0 0px 4px blue;
    margin-top:-20px;

}
.left,.right,.restart{
    width:80px;
    height:30px;
    position: absolute;
    left:50%;
    margin-left:-40px;
    font-size: 24px;
    font-family: '宋体';
    line-height: 30px;
    text-align: center;
    color:#fff;
    border-radius: 10px;
}
.right{
    bottom: 10px;
    background: red;
}
.left{
    bottom: 50px;
    background: blue;
}
.restart{
    font-size: 16px;
    font-family: '微软雅黑';
    bottom:90px;
    background: red;
    color:#000;
    cursor: pointer;
}